.bold {
  font-weight: bold;
}

.navigation {
  height: 70px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

a {
  color: white;
}
